<header role="banner" class="navigation">
  <nav>
    <a href="/"{% if page.url == "/" %} aria-current="location"{% endif %} title="Dom Christie Home (Recent Posts)">
      <img src="/domchristie.jpg" alt="" width="24" height="24" />
      Dom Christie
    </a>
    <ul>
      {% for p in site.pages %}
        {% if p.title %}
        <li><a href="{{ p.url }}"{% if page.url == p.url %} aria-current="location"{% endif %}>{{ p.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
    </ul>
  </nav>
</header>
