.navigation {
  margin-bottom: 1em;
  padding: .5em;
}
nav {
  font-size: .8125em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;

  & > a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
  }

  & > a img {
    margin-right: .375rem;
    border-radius: 50%;
  }

  ul {
    margin: 0;
    list-style: none;
    margin-left: auto;
  }

  li {
    float: left;
    margin-left: 1em;

    &:last-child a {
      color: #666;
    }
  }

  a[aria-current="location"] {
    text-decoration: none;
    color: black;
  }
}
