table {
  width: 100%;
  max-width: 100%;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 0.875em;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 1.14286em;
}

table > tbody > tr:nth-of-type(odd) {
  background-color: #f6f6f6;
}

th, td {
  padding: 0.28571em;
  text-align: left;
  border-bottom: 1px solid #e6e6e6;
}

th {
  border-bottom-color: #191919;
}

.number {
  text-align: right;
}