---
import '../styles/global.css'
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="bg-white text-grey-900 dark:bg-black dark:text-grey-200">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="alternate" type="application/rss+xml" title="Dom Christie" href="https://domchristie.co.uk/feed.xml">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-serif text-fl-base">
		<slot />
	</body>
</html>
